<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Dom操作测试</title>
        <script>
            /**
            追加新节点
            */
            function fun1(){
                console.log(document)
                p_list=document.getElementById("p-list")
                new_p=document.createElement("p")
                new_p.setAttribute('a','1')
                text=document.createTextNode("这是一个新文本")
                new_p.appendChild(text)
                p_list.appendChild(new_p)
                // 改变文本列表div的color
                p_list.style.color="red"
            }
            /**
            移除追加的节点
            */
            function fun2(){
                p_list=document.getElementById("p-list")
                // 获取文本列表下的子节点
                children=p_list.children
                console.log(children.length)
                for(i=0;i<2;i++){
                    p_list.removeChild(children[0])
                    // console.log(i,children.length)
                }
            }
        </script>
    </head>
    <body>
        <div id="p-list">
            <p>此处显示文本</p>
            <p>此处显示文本</p>
        </div>
        <button id="btn-1" onclick="fun1()">追加文本</button>
        <button id="btn-2" onclick="fun2()">移除以上追加节点</button>
    </body>
</html>