<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>3D导航栏练习</title>
    <link rel="stylesheet" type="text/css" href="/H5/css/header3d.css" charset="utf-8"/>
</head>

<body>
        <div id="nav">
                <ul class="nav-menu clearfix unstyled">
                    <li>
                        <a href="#" class="three-d">
                        零食
                        <span class="three-d-box">
                            <span class="front">零食</span>
                            <span class="back">零食</span>
                        </span>
                        </a>
                        <ul class="clearfix unstyled drop-menu">
                            <li>
                                <a href="#" class="three-d">
                                    辣条
                                    <span class="three-d-box">
                                        <span class="front">辣条</span>
                                        <span class="back">辣条</span>
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="three-d">
                                    方便面
                                    <span class="three-d-box">
                                        <span class="front">方便面</span>
                                        <span class="back">方便面</span>
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="three-d">
                                    薯片
                                    <span class="three-d-box">
                                        <span class="front"> 薯片</span>
                                        <span class="back"> 薯片</span>
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>    
                        <a href="#" class="three-d">
                        家电
                        <span class="three-d-box">
                            <span class="front">家电</span>
                            <span class="back">家电</span>
                        </span>
                        </a>
                        <ul class="clearfix unstyled drop-menu">
                            <li>
                                <a href="#" class="three-d">
                                    手机
                                    <span class="three-d-box">
                                        <span class="front">手机</span>
                                        <span class="back">手机</span>
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="three-d">
                                    电视
                                    <span class="three-d-box">
                                        <span class="front">电视</span>
                                        <span class="back">电视</span>
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="three-d">
                                    平板
                                    <span class="three-d-box">
                                        <span class="front">平板</span>
                                        <span class="back">平板</span>
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
        </div>
</body>

</html>