<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>vue学习</title>
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="../../js/vue.js"></script>
    <link rel="stylesheet" href="../../css/vue_test.css">
</head>

<body>
    <div id="app">
        <p>没有进行属性计算：{{ message.split('').reverse().join('')}}</p>
        <p>进行属性计算的:{{ newMessage}}</p>
        <p>进行属性计算的:{{ newMessage2}}</p>
    </div>
    <div id="app-2">
        <span v-bind:title="message">
            鼠标悬停几秒钟查看此处动态绑定信息
        </span>
    </div>
    <div id="app-3">
        <p v-if="seen">现在你看到我了</p>
    </div>
    <!-- vue循环测试 -->
    <hr style="color: cadetblue;">
    <div id="app-4">
        <ol>
            <li v-for="v in data">
                <span>{{v.value}}</span>
            </li>
        </ol>
    </div>
    <hr style="color: cadetblue;">
    <div id="app-5">
        <p>{{message}}</p>
        <button v-on:click="reverseMessage">逆转消息</button>
    </div>
    <hr style="color: cadetblue;">
    <div id="app-6">
        <p>{{message}}</p>
        <input v-model="message">
    </div>
    <div id="app-7">
        <ol>
          <!--
            现在我们为每个 todo-item 提供 todo 对象
            todo 对象是变量，即其内容可以是动态的。
            我们也需要为每个组件提供一个“key”，晚些时候我们会做个解释。
          -->
          <my-item v-bind:class='colorClass'
            v-for="item in datas"
            v-bind:my="item"
            v-bind:key="item.id">
          </my-item>
        </ol>
    </div>
    <hr style="color: cadetblue;">
    <div id="watch-example">
      <span style="color: cadetblue;">侦听器</span>
      <p>
        Ask a yes/no question:
        <input v-model="question">
      </p>
      <p>{{ answer }}</p>
    </div>
    
    <div id="app-8">
      <hr style="color: cadetblue;">
      <span v-bind:class="[colorClass,bgClass]" >动态绑定class style</span><br>
      <div v-if="active===true">
        展示
      </div>
      <div v-else-if="active===false">
        不展示
      </div>
      <div v-else>
        默认值
      </div>
    </div>
    <div id="app-x">
        <div :style="{ fontSize: postFontSize + 'em' }">
            <blog-post 
                v-for="post in posts" 
                :key="post.id"
                v-bind:post='post'
            >
            </blog-post> 
            <button v-on:click="postFontSize+=big()">变大</button>
        </div>
    </div>
    <div id="app-xx">
        <button v-on:click="show_tab(1)">tab-1</button>
        <button v-on:click="show_tab(2)">tab-2</button>
        <button v-on:click="show_tab(3)">tab-3</button>
        <component v-bind:is="current">
        </component>
    </div  >
    <div id="app-show-info">
      <user-info
        v-for="post in data"
        :username="post.username"
        :money="post.money"
        :age="post.age"
        :key="post.id"
      >
      </user-info>
    </div>
    
</body>
<script src="../../js/axios.js"></script>
<script src="../../js/lodash.min.js"></script>
<script src="../../js/test/vue_test.js"></script>

</html>