html{
    /* 网页占浏览器的宽度比例 */
    width: 100%;
    height: 100%;
    /* 使浏览器缩放字体不会放大溢出 */
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    -ms-text-size-adjust: none;
}
body{
    /* 设置body距离外部大盒子的距离*/
    margin:0;
    /* 设置内边距的距离，此处为距离浏览器边框的距离*/
    padding: 0;
    /* body元素占浏览器的 宽高比例 */
    width: 100%;
    height: 100%;
    /* body的背景颜色 */
    background: #47c9af;
    /* body下的字体颜色 */
    color: #74777b;
    
    font-weight: 300;
    /* 设置body标签下的字体大小 */
    font-size: 1.5em;
    /* 设置字体的风格 */
    font-family: "Raleway","Arial";
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
/* 
    a:link 链接未点上去的时候
    a:visited 链接已访问的时候
    a:hover 鼠标放在链接上但未点击的时候 
*/
a:link,a:visited,a:focus{
    text-decoration: none;
    /* 外部轮廓 */
    /* outline: none; */
}
*,*:after,*:before{
    /*不影响盒子大小*/
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
}
*:after,*:before{
    display: block;
    content: "";
}
*:after{
    clear: both;
}
.nav{
    width: 800px;
    height: 300px;
    /* 设置导航栏大盒子距离body盒子的边距，并设置为居中对齐 */
    margin: 200px auto;
}
.nav li{
    display: inline-block;
    margin: 0 1em;
}
.tooltip{
    display: inline-block;
    font-weight: 700;
    color: rgba(0,0,0,0.3);
    padd:0.15em 0.25em 0;
    position: relative;
    z-index: 999;
}
.tooltip:hover{
    color: rgba(255,255,255,1);
    /* 设置鼠标滑过的颜色渐变时间 */
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
}
.tooltip-content{
    position: absolute;
    z-index: 9999;
    width:80px;
    height: 80px;
    border-radius: 50%;
    background: #ffffff;left: 50%;
    margin-left: -40px;
    bottom: 100%;
    margin-bottom: 10px;
    text-align: center;
    padding-top: 25px;
    color: #47c9af;
    opacity: 0;
    -webkit-transition: opacity 0.3s,-webkit-transform 0.3s;
    transition: opacity 0.3s,transform 0.3s;
}
.tooltip .tooltip-content i{
    opacity: 0;
   -webkit-transition: opacity 0.3s,-webkit-transform 0.3s;
    transition: opacity 0.3s,transform 0.3s;
}
.tooltip-content::after{
    display: block;
    content: "";
    width: 30px;
    height: 20px;
    background: url("../images/tooltip1.svg")no-repeat center center;
    position: absolute;
    top: 100%;
    left: 50%;
    margin: -7px 0 0 -15px;
}
.tooltip-edddect-1 .tooltip-content{
    -webkit-transform: translate3d(0,10px,0) rotate3d(1,1,1,45deg);
    transform: translate3d(0,10px,0) rotate3d(1,1,1,45deg);
     -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
}
.tooltip-edddect-1 .tooltip-content i{
    -webkit-transform: scale3d(0,0,1);
    transform: scale3d(0,0,1);
}

/*第二个导航的动画效果*/
.tooltip-edddect-2 .tooltip-content{
    -webkit-transform: translate3d(0,20px,0) ;
    transform: translate3d(0,20px,0) ;
     -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
}
.tooltip-edddect-2 .tooltip-content i{
    -webkit-transform: scale3d(0.1,0.1,0.1);
    transform: scale3d(0.1,0.1,0.1);
}
/*第三个导航的动画效果*/
.tooltip-edddect-3 .tooltip-content{
    -webkit-transform: scale3d(0,0,1) ;
    transform: scale3d(0,0,1) ;
     -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
}
.tooltip-edddect-3 .tooltip-content i{
    -webkit-transform: translate3d(0,20px,0);
    transform: translate3d(0,20px,0);
}
.tooltip:hover .tooltip-content,
.tooltip .tooltip-content i{
    opacity: 1;
     -webkit-transform: translate3d(0,0,0) rotate3d(1,1,1,0) scale3d(1,1,1) ;
    transform: translate3d(0,0,0)  rotate3d(1,1,1,0) scale3d(1,1,1);

}