.green{
    color: green;
}
.red{
    color: red;
}

.bg{
    background: #f67ff6;
}

.fade-enter-active, .fade-leave-active {
transition: all .5s
}
.fade-enter-to{
   
}
.fade-leave{
    
}
.fade-enter, .fade-leave-to /* .fade-leave-active in below version 2.1.8 */ {
opacity: 0;
color: blue;
}
/* 侧边滑动动画 */

.slide-enter-active{
    transition: all .3s ease;
}
.slide-leave-active {
    transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-enter, .slide-leave-to {
  transform: translateX(5px) scaleX(0.5);
  opacity: 0;
}
/*缩放动画*/
.scale-enter-active{
    animation: scale-in .5s;
}
.scale-leave-active{
    animation: scale-in .5s reverse;
}
@keyframes scale-in {
    0% {
      transform: scale(0);
    }
    50% {
      transform: scale(1.5);
    }
    100% {
      transform: scale(1);
    }
}
/* vue表单输入跟随展示动画 */
.anm-text-enter-active{
  transition: all .5s ease;
}
.anm-text-leave-active {
  transition: all .5s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.anm-text-enter, .anm-text-leave-to {
transform: translateX(5px) scaleX(0.5);
opacity: 0;
}

