<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>商城网站测试</title>
        <link rel="stylesheet" href="../css/index.css">
        <script type="text/javascript" src="../../js/jquery-3.3.1.min.js"></script>
        <script type="text/javascript" src="../js/index.js"></script>
    </head>
    <body>
        <div class="banner">
            <div class="container">
                <div id="left1">
                    <ul>
                    <li><a href="#">华为商城</a></li>
                    <li><a href="#">花粉俱乐部</a></li>
                    <li><a href="#">EMUI</a></li>
                    </ul>
                </div>
                <div id="left2">
                        <ul>
                        <li><a href="login.html">登录</a></li>
                        <li><b>|</b></li>
                        <li><a href="register.html">注册</a></li>
                        </ul>
                </div>
            </div>
        </div>
        <div class="nav">
            <div class="container">
                <div class="logo"><img src="../img/logo.jpg" alt=""></div>
                <div class="header-nav">
                    <ul>
                        <li class="parent">
                        <a href="#">产品</a>
                        <div id="child">
                            <dl>
                                <dt><a href="#">手机</a></dt>
                                <dd><a href="#">荣耀8X</a></dd>
                                <dd><a href="#">荣耀8X Max</a></dd>
                                <dd><a href="#">荣耀node10</a></dd>
                                <dd><a href="#">更多</a></dd>
                            </dl>
                            <dl>
                                <dt><a href="#">平板</a></dt>
                                <dd><a href="#">荣耀magicbook-锐龙版</a></dd>
                                <dd><a href="#">荣耀MagicBook</a></dd>
                                <dd><a href="#">荣耀Waterplay</a></dd>
                                <dd><a href="#">更多</a></dd>
                            </dl>
                            <dl>
                                <dt><a href="#">穿戴设备</a></dt>
                                <dd><a href="#">荣耀手环4</a></dd>
                                <dd><a href="#">荣耀手环A2</a></dd>
                                <dd><a href="#">荣耀手表S1</a></dd>
                                <dd><a href="#">更多</a></dd>
                            </dl>
                            <dl>
                                <dt><a href="#">智能家庭</a></dt>
                                <dd><a href="#">荣耀分布式路由</a></dd>
                                <dd><a href="#">荣耀路由2</a></dd>
                                <dd><a href="#">荣耀路由X1增强版</a></dd>
                                <dd><a href="#">更多</a></dd>
                            </dl>
                            <dl>
                                <dt><a href="#">配件</a></dt>
                                <dd><a href="#">荣耀移动电源</a></dd>
                                <dd><a href="#">荣耀自拍杆</a></dd>
                                <dd><a href="#">荣耀小口哨</a></dd>
                                <dd><a href="#">更多</a></dd>
                            </dl>
                            
                            <dl id="r1">
                                <dt></dt>
                            </dl>
                            <dl id="r2">
                                <dt><a href="#">荣耀note10</a></dt>
                                <dd><img src="../img/right1.jpg"/></dd>
                            </dl>
                    
                        </div>
                            
                        </li>
                        <li class="child"><a href="login.html">伙伴通</a></li>
                        <li class="child"><a href="news.html">新闻评测</a></li>
                        <li class="child"><a href="fuwu.html">服务支持</a></li>
                        <li class="child"><a href="#">荣耀科技</a></li>
                        <li class="child"><a href="#">视频</a></li>
                        <li class="child"><a href="#">活动</a></li>
                        <li class="child"><a href="#">关于荣耀</a></li>
                    </ul>
                </div>
                <div class="search">
                    <input type="text" class="input-search"  />
                    <img src="../img/search.png" alt="" />
                </div>
            </div>
        </div>
        <div class="container">
                <div class="swap">
                    <ul class="img-wrap">
                        <li class="img-itm" style="display: none;">
                            <img src="../img/a62c3c8dcc506d241b26272a506c265e.jpg">
                        </li>
                        <li class="img-itm" style="display: none;">
                            <img src="../img/04b2c6ca437a8bfacd72254fe028a70b.jpg">
                        </li>
                        <li class="img-itm" style="display: none;">
                            <img src="../img/07cd880d456642bb060e00121b975be7.jpg">
                        </li>
                        <li class="img-itm" style="display: none;">
                            <img src="../img/1.jpg">
                        </li>
                        <li class="img-itm" style="display: list-item;">
                            <img src="../img/2.jpg">
                        </li>
                    </ul>
                    <ul class="ban-list">
                            <li class="ban"></li>
                            <li class="ban active"></li>
                            <li class="ban"></li>
                            <li class="ban"></li>
                            <li class="ban"></li>
                    </ul>
                    <div class="tab-ban left"></div>
                    <div class="tab-ban right"></div>
                 </div>
            </div>
    </body>
</html>
