<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>商城网站测试</title>
        <link rel="stylesheet" href="../css/index.css">
    </head>
    <body>
        <div class="banner">
            <div class="container">
                <div id="left1">
                    <ul>
                    <li><a href="#">华为商城</a></li>
                    <li><a href="#">花粉俱乐部</a></li>
                    <li><a href="#">EMUI</a></li>
                    </ul>
                </div>
                <div id="left2">
                        <ul>
                        <li><a href="login.html">登录</a></li>
                        <li><b>|</b></li>
                        <li><a href="register.html">注册</a></li>
                        </ul>
                </div>
            </div>
        </div>
        
    </body>
</html>
