<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>登录页面</title>
        
        <link rel="stylesheet" href="../css/login.css">
    </head>
    <body>
        <div class="w">
            <div id="logo">
                <a href="#" clstag="pageclick|keycount|20150112ABD|45" style="outline: rgb(109, 109, 109) none 0px;">
                    <img src="../img/login/logo.png" alt="京东" width="170" height="60">
                </a>
                <b></b>
            </div>
                    <a href="//surveys.jd.com/index.php?r=survey/index/sid/568245/lang/zh-Hans" target="_blank" class="q-link"><b></b>登录页面，调查问卷</a>
            </div>
    </body>
</html>