body{
	background: #EBEBEB;
	margin: 0;
	padding: 0;
}
.customer .head_center{
	width: auto;
	max-width: 998px;

	margin: 0 auto;
	height: 70px;
	text-align: center;
}
.customer .head_center .main-logo{
	float: left;
	width: 160px;
	position: static;
}
.customer .head_center .main-logo img{
	width: 140px;
	height: 30px;
	margin-top: 18px;
	margin-left: 5px;
}
.customer .head_center b{
	float: left;
	width: 20px;
	height: 30px;
	padding-top: 25px;
	color: lightgray;
	font-size: 18px;
}
.customer .head_center .title{
	float: left;
	font-size: 18px;
	margin-left: 18px;
	color: black;
	margin-top: 25px;
}
span .guanggao{
	width: 100%;
	background: #FFFBE4;
	display: inline-block;
	height: 40px;
	text-align: center;
	line-height: 40px;
	color: #989898;
	font-size: 12px;
}
.login_bg{
	background-color: #081638;
	width: 100%;
	height: 600px;
}
.login_bg .content{
	width: 1130px;
	height: 590px;

	margin: 0 auto;
}
.login_bg .left{
	float: left;
	width: 600px;
	height: 900px;
}
.login_bg .right{
	float: left;
	margin-top: 40px;
	margin-left: 130px;
	width: 400px;
	height: 500px;
	background: white;
	text-align: center;
	position: relative;
}
.header{
	width: 380px;
	height: 500px;
}
.a{
	width: 100%;
	margin: 24px auto;
	text-align: center;
	height: 40px;
}
.a span{
	font-size: 20px;
	font-weight: 500;
	cursor: pointer;
	width: 169px;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	padding: 0 10px;
	float: left;
	margin-bottom: 50px;
}
.a .loginTitle.splitline{
	border-left: 1px solid #cccccc;
}
.b{
	width: 328px;
	margin: 0 auto;
	height: 320px;

}
.b .login-form{
	height: 120px;

}
table{
	width: 328px;
	border-collapse: collapse;
	border-spacing: 0;
}
.a1{
	display: block;
	position: absolute;
	cursor: text;
	float: left;
	z-index: 2;
	padding-left: 0;
}
.user .a1{
	display: block;
	position: absolute;
	cursor: text;
	float: left;
	padding-left: 0;
}
.top1 .text{
	width: 100%;
	border: none;
	border-bottom: 1px solid lightgrey;
	height: 50px;
	}
.top1 .text2{

     background: transparent;
	cursor: text;
	color: rgb(204,204,204);
	height: 46px;
	line-height: 46px;
	font-size: 14px;
}
.user .a2{
	display: block;
	position: absolute;
	cursor: text;
	float: left;
	padding-left: 0px;
	width: 81%;
}
.user .text{
	width: 100%;
	border: none;
	border-bottom: 1px solid lightgrey;
	}
.user .text.vam{
	width: 40px;
    border: none;
    background: transparent;
	cursor: text;
	color: rgb(204,204,204);
	font-size: 14px;
	height: 22px;
	line-height: 22px;
	padding-top: 20px;

}
.mt-links{
	position: relative;
	top: 70px;
	font-size: 12px;
	color: blue;
}
.mt-links a{
	font-style: normal;
	margin-left: -210px;
}
.login-msg{
	position: relative;
	top: 90px;
	width: 100%;
}
.login-msg #button-login{
	background-color: #1aa8d5;
	width: 90%;
	border-style: solid;
	border-color: #1aa8d5;
	color: #fff;
	line-height: 44px;
	height: 44px;
	font-weight: bold;
	font-size: 14px;
	cursor: pointer;
	border-radius: 26px;
	text-align: center;
	
}
.mt-checkbox{
	position: relative;
	top: 100px;
	left: -110px;
	font-size: 10px;
}
.mt-link{
	position: relative;
	top: 110px;
	font-size: 10px;
}
.mt-link a{
	text-decoration: none;
}
.customer-footer .warrant-area{
	margin: 50px auto;
	text-align: center;
	font-size: 12px;
	color: #999;
	position: relative;
	left: -490px;
}
.customer-footer .warrant-area a{
	text-decoration: none;
	color: #999;
}
.otherright .header .b{
	text-align: center;
	}
.content .right .userLogin{
	width: 400px;
	height: 500px;
}
.content .right .userLogin h3{
	float: left;
	margin: 20px 60px;
	opacity: 4;
	border-bottom: 3px solid transparent;
	cursor: pointer;
	transition: all .5s linear;
}
.content .right .userLogin .in{
	border-bottom: 3px solid deepskyblue;
	opacity: 1;
}
.content .right .userLogin .inputLogin{
	width: 400px;
	height: 450px;
	margin: 0 auto;
}
.content .right .userLogin .inputLogin input.user{
	width: 350px;
	height: 50px;
	border: none;
	border-bottom: 2px solid lightgray;
	font-size: 13px;
	padding-left: 20px;
	margin: 10px 20px;
}
.content .right .userLogin .inputLogin a.submit{
	display: block;
	width: 300px;
	height: 50px;
	text-decoration: none;
	color: white;
	text-align: center;
	line-height: 50px;
	font-size: 18px;
	margin: 15px auto;
	background: deepskyblue;
	border-radius: 30px;
}
.content .right .userLogin .inputLogin input{
	margin: 8px 10px;
	font-size: 10px;
	color: red;
}
.content .right .userLogin .inputLogin a.userUse{
	font-size: 14px;
	text-decoration: none;
	padding-left: 10px;
	line-height: 60px;
	color: dodgerblue;
}
.content .right .userLogin .inputLogin .otherLogin{
	width: 300px;
}
.content .right .userLogin .inputLogin .otherLogin p{
	font-size: 14px;
	text-align: center;
}
.content .right .userLogin .scanlogin{
	width: 400px;
	height: 400px;
	margin: 0 auto;
	display: none;
}
.content .right .userLogin .scanlogin img{
	border: 1px solid black;
	margin-top: 80px;
}
/*.content .right .userLogin .scanlogin img:hover{
	
}*/
	



